torch
torchvision
torchaudio
numpy
opencv-python
opencv-python-headless
matplotlib
pillow
pandas
fastapi[standard56,3]
django==3.2
celery
flower
redis
python-redis-lock
uvicorn[standard]
gunicorn
supervisor
requests
tqdm
albumentations
albumentations[imgaug]